<div class="container">
    <h1>add employees</h1>
    <form method="post" action="/users/create">
        <label for="username">Username</label>
      <input type="text" id="username" name="name" required>
      <label for="id">ID</label>
      <input type="text" id="id" name="user_id" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirmpassword" required>
      
      <label for="category">category</label>
      <input type="text" id="category" name="category" required >
      <input type="submit"  value="ADD">
    </form>
  </div>